#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.product-name {
  flex-basis: 50%;
  text-align: left;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 10px;
}

.product-price, .product-quantity {
  flex-basis: 20%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.delete-item {
  flex-basis: 10%;
  text-align: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
}

.shopping-cart {
  z-index: 100; /* Lower than navbar */
  position: fixed;
  right: 20px;
  top: 60px; /* Adjusted the top position to be below the navbar */
}

.shopping-cart img {
  width: 30px;
  height: auto;
}

.cart-summary {
  display: none;
  position: absolute;
  right: 0;
  top: 100%; /*Remove gap between basket and summary*/
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  width: 600px;
}

.shopping-cart:hover .cart-summary,
.cart-summary:hover {
  display: block;
}

.cart-total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #45a049;
}


#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.8em;
}

.home-logo img {
  width: 400px;
  height: auto;
}

@media (max-width: 600px) {
  .home-logo {
    position: fixed;
    top: 10px;
    left: 50%; /* Centers the element in the viewport */
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it's above other content */
    cursor: pointer;
  }
}

.products-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product {
  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}


.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.add-to-basket {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Navbar.css */
nav {
  background-color: #004d99;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1050; /* Make sure navbar is above other elements */
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffdb4d;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  margin-top: 20px;
}

.checkout-title {
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.delivery-address-column, .cart-items-column {
  flex: 1;
  padding: 20px;

}

.delivery-address-column {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px; /* Slightly rounded corners for the form */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin-right: 20px;
}

.address-form {
  display: flex;
  flex-direction: column; /* Stacking the form of the fields vertically */
}

.address-form input[type="text"],
.address-form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px; /* Space between form fields */
  border: 1px solid #ccc; /* Standard border */
  border-radius: 4px; /* Slightly rounded edges for the input fields */
}

.address-form input[type="text"]:focus,
.address-form input[type="email"]:focus {
  border-color: #007bff; /* Highlight color when input is focused */
  outline: none;
}

.form-errors {
  color: #ff0000;
  margin-top: 10px;
}

/* Style adjustments for invalid inputs */
.address-form input[type="text"]:not(:focus):invalid,
.address-form input[type="email"]:not(:focus):invalid {
  border-color: red;
  background-color: #fff0f0;
}

/* Style adjustments for valid inputs */
.address-form input[type="text"]:valid,
.address-form input[type="email"]:valid {
  border-color: green;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .delivery-address-column,
  .cart-items-column {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.billing-address-form {
  display: flex;
  flex-direction: column; /* Stack form fields vertically */
}

.billing-address-form input[type="text"],
.billing-address-form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px; /* Space between form fields */
  border: 1px solid #ccc;
  border-radius: 4px; /* Slightly rounded edges for the input fields */
}

.billing-address-form input[type="text"]:focus,
.billing-address-form input[type="email"]:focus {
  border-color: #007bff; /* Highlight color when input is focused */
  outline: none; /* Removes the default focus outline */
}

/* Style adjustments for invalid inputs */
.billing-address-form input[type="text"]:not(:focus):invalid,
.billing-address-form input[type="email"]:not(:focus):invalid {
  border-color: red;
  background-color: #fff0f0;
}

/* Style adjustments for valid inputs */
.billing-address-form input[type="text"]:valid,
.billing-address-form input[type="email"]:valid {
  border-color: green;
}


/* Responsive adjustments */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@keyframes popUp {
  0% {
    transform: translateY(100%); /* Start offscreen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Move to the original position */
    opacity: 1;
  }
}

.increase-quantity-nudge {
  background-color: #4fd67a;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  animation: popUp 0.5s ease-out;
}